.body {
  margin: 0;
  background: #f2f2f2;
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("/fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("/fonts/Roboto-Black.ttf");
}
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation__list {
  display: flex;
  gap: 30px;
  padding: 0;
  list-style: none;
  white-space: nowrap;
}
.header-navigation__link {
  text-decoration: none;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2f2f51;
}
.header-navigation__link--hover:hover {
  color: #ef7f04;
}
@media screen and (max-width: 992px) {
  .header-navigation {
    display: none;
  }
}

.header-buttons {
  display: flex;
  gap: 14px;
}
.header-buttons__btn {
  white-space: nowrap;
  padding: 13px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}
.header-buttons__btn--orange {
  background-color: #ef7f04;
}
.header-buttons__btn--blue {
  background-color: #3b3a63;
}
.header-buttons__btn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}
.header-buttons__img {
  padding-right: 14px;
  vertical-align: middle;
}

.preview {
  margin-bottom: 68px;
  background-image: url(/images/preview-block/preview_bg.svg);
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .preview {
    margin-bottom: 47px;
  }
}

.preview-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.preview-about {
  padding: 110px 0 0 90px;
}
.preview-about__text {
  display: block;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ef7f04;
}
.preview-about__title {
  width: 450px;
  margin-bottom: 35px;
  font-family: "Roboto-Thin", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.preview-about__items {
  display: flex;
}
.preview-about__item {
  margin-right: 33px;
}
.preview-about__item-description {
  width: 176px;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.preview-about__item-icon {
  height: 81px;
}
@media screen and (max-width: 992px) {
  .preview-about {
    padding: 110px 0 130px 90px;
  }
}

.preview-measure {
  padding: 70px 0 60px 0;
}
@media screen and (max-width: 992px) {
  .preview-measure {
    display: none;
  }
}

.preview-form {
  width: 406px;
  position: relative;
  box-sizing: border-box;
  padding: 43px 40px 60px;
  border-radius: 10px;
  background-color: #ffffff;
}
.preview-form__title {
  margin: 0 0 27px 0;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.preview-form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 16px;
  height: 40px;
  border-radius: 3px;
  border-style: none;
  outline: none;
  background: #e2e2e2;
}
.preview-form__input::-moz-placeholder {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}
.preview-form__input:-ms-input-placeholder {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}
.preview-form__input::placeholder {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #424268;
}
.preview-form__label {
  display: flex;
  margin-bottom: 24px;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.preview-form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.preview-form__checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.preview-form__checkbox + label::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 3px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: #e2e2e2;
}
.preview-form__checkbox:checked + label::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17px;
  background-image: url("/images/preview-block/Check.svg");
}
.preview-form__btn {
  display: block;
  margin: 0 auto;
  padding: 20px 40px;
  border: none;
  border-radius: 3px;
  background-color: #ef7f04;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.preview-form__ruler {
  position: absolute;
  left: -7px;
  bottom: -55px;
}

.services {
  margin-bottom: 103px;
}
@media screen and (max-width: 992px) {
  .services {
    margin-bottom: 30px;
  }
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
}

.services__title {
  margin: 0px 0px 49px 0px;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.services-list__card {
  box-sizing: border-box;
  width: 595px;
  border-radius: 3px;
  padding: 46px 150px 40px 53px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
}
.services-list__card--window {
  background-image: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/images/services-block/sevrice_card-img_1.png);
  background-size: cover;
}
.services-list__card--balckony {
  background-image: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/images/services-block/sevrice_card-img_2.png);
  background-size: cover;
}
.services-list__card--houses {
  background-image: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/images/services-block/sevrice_card-img_3.png);
  background-size: cover;
}
.services-list__card--commercy {
  background-image: linear-gradient(90.45deg, #ffffff 47.56%, rgba(255, 255, 255, 0) 98.81%), url(/images/services-block/sevrice_card-img_4.png);
  background-size: cover;
}
.services-list__element {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}
.services-list__title {
  width: 300px;
  margin: 0px 0px 0px 28px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}
.services-list__description {
  width: 300px;
  margin: 0;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2f2f51;
}
@media screen and (max-width: 992px) {
  .services-list {
    gap: 40px;
  }
}

.products {
  margin-bottom: 55px;
}

.products-container {
  max-width: 1200px;
  margin: 0 auto;
}

.products__title {
  text-align: center;
  margin: 0 0 34px 0;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}

.products-slider {
  text-align: center;
  margin-bottom: 27px;
}
.products-slider__btn {
  border: none;
  width: 130px;
  height: 39px;
  background: #f2f2f2;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
}
.products-slider__btn:hover {
  width: 130px;
  height: 39px;
  border: none;
  border-radius: 3px;
  opacity: 0.7;
  cursor: pointer;
  background-color: #ef7f04;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.products-slider__btn:focus {
  width: 130px;
  height: 39px;
  border: none;
  border-radius: 3px;
  background-color: #ef7f04;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.products-block {
  display: flex;
  border-radius: 3px;
  background-color: #ffffff;
}
.products-block__img {
  width: 50%;
  background: url(/images/production-block/window_standart.svg);
  background-size: cover;
  background-position: center;
}
.products-block__description {
  width: 50%;
  padding: 74px 50px 45px 35px;
  box-sizing: border-box;
}
.products-block__title {
  margin: 0;
  color: #ef7f04;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}
.products-block__text {
  margin: 40px 0;
  width: 69%;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.products-block__item {
  display: flex;
  align-items: baseline;
  margin: 0 0 25px;
}
.products-block__characteristic-title {
  margin: 0;
  padding-right: 5px;
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.products-block__dots {
  margin: 0;
  border-bottom: 2px dotted #cfcfcf;
  flex-grow: 1;
}
.products-block__value {
  margin: 0;
  padding-left: 5px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.quality {
  margin-bottom: 95px;
}
@media screen and (max-width: 992px) {
  .quality {
    margin-bottom: 40px;
  }
}

.quality-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.quality-advantages {
  margin-bottom: 55px;
  padding: 35px 50px 50px 50px;
  border-radius: 3px;
  background-image: url(/images/quality-block/qaulity_bg.svg);
  background-size: cover;
}
.quality-advantages__banner {
  margin-bottom: 55px;
}
@media screen and (max-width: 992px) {
  .quality-advantages {
    padding: 35px 110px 50px 110px;
  }
}

.quality-items {
  display: flex;
  justify-content: space-between;
}
.quality-items__item {
  width: 220px;
}
.quality-items__logo {
  margin-bottom: 25px;
  height: 95px;
}
.quality-items__description {
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
@media screen and (max-width: 992px) {
  .quality-items {
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.quality-button {
  padding: 18px 55px 18px 35px;
  border-radius: 3px;
  border: none;
  background-color: #3b3a63;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.quality-button__img {
  padding-right: 22px;
  vertical-align: middle;
}

.quality-button:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 87px;
}
@media screen and (max-width: 992px) {
  .about-container {
    margin-bottom: 50px;
  }
}

.about__title {
  text-align: center;
  margin: 0 0 32px 0;
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}

.about-slider {
  text-align: center;
  margin-bottom: 35px;
}
.about-slider__btn {
  width: 170px;
  height: 40px;
  border: none;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #2f2f51;
}
.about-slider__btn:hover {
  width: 170px;
  height: 40px;
  border: none;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-color: #ef7f04;
  color: #ffffff;
}
.about-slider__btn:focus {
  width: 170px;
  height: 40px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  background-color: #ef7f04;
  color: #ffffff;
}

.about-description {
  display: flex;
  justify-content: center;
  margin-bottom: 68px;
  border-radius: 3px;
  background-color: #ffffff;
}
.about-description__description {
  width: 50%;
  height: 465px;
}
.about-description__logo {
  display: block;
  padding: 46px 0px 0px 50px;
  margin-bottom: 62px;
}
.about-description__text {
  width: 300px;
  margin: 0;
  padding-right: 52px;
  float: right;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.about-description__img {
  width: 50%;
  background-image: url(/images/about-block/about_desc_img.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 40px;
}
.about-cards__card {
  display: flex;
  margin-bottom: 100px;
}
@media screen and (max-width: 992px) {
  .about-cards__card {
    margin-bottom: 40px;
  }
}
.about-cards__logo {
  margin-right: 22px;
}
.about-cards__description {
  width: 200px;
}
.about-cards__title {
  margin: 0;
}
@media screen and (max-width: 992px) {
  .about-cards {
    padding: 0 142px;
  }
}

.about__btn {
  display: block;
  margin: 0 auto;
  padding: 19px 28px;
  border: none;
  border-radius: 3px;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  background-color: #ef7f04;
  color: #ffffff;
}

.about__btn-img {
  margin-right: 24px;
  vertical-align: middle;
}

.portfolio-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 100px 70px 100px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #ffffff;
}

.portfolio-title {
  margin: 0 0 48px 0;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}

.portfolio-items {
  display: flex;
  justify-content: center;
  gap: 45px;
}
.portfolio-items__img {
  border-radius: 3px;
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.25));
}
@media screen and (max-width: 992px) {
  .portfolio-items__img:last-child {
    display: none;
  }
}

.faq {
  margin-bottom: 86px;
}

.faq-container {
  max-width: 1200px;
  margin: 0 auto;
  background: #ef7f04;
  border-radius: 3px;
}

.faq__title {
  margin: 0;
  padding: 40px 0 50px 0;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.faq-block {
  padding: 0 101px 63px;
}
.faq-block__item {
  margin-bottom: 25px;
}
.faq-block__question {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 82px;
  padding: 0 30px 0 19px;
  background: #eeeef3;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2f2f51;
}
.faq-block__question:hover {
  cursor: pointer;
  color: #ef7f04;
}
.faq-block__question:hover .faq-block__img {
  display: none;
}
.faq-block__question:hover .faq-block__img-orange {
  display: block;
}
.faq-block__img-orange {
  display: none;
}
.faq-block__answer {
  margin: 0;
  padding: 0 30px 30px 19px;
  background: #eeeef3;
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}/*# sourceMappingURL=style.css.map */