// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   text-decoration: none;
// }

.body {
  margin: 0;
  background: #f2f2f2;
}
// миксины
@mixin headerButtonText {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}

// переменные
@import "./base/variables";

// блоки
@import "./blocks/header";
@import "./blocks/services";
