.body {
  margin: 0;
  background: #f2f2f2;
  // box-sizing: border-box;
}
// Шрифты
@import "./base/fonts";

// Миксины
@mixin container {
  max-width: 1200px;
  margin: 0 auto;
}

// Переменные
@import "./base/variables";

// Блоки
@import "./blocks/header";
@import "./blocks/preview";
@import "./blocks/services";
@import "./blocks/products";
@import "./blocks/qaulity";
@import "./blocks/about";
@import "./blocks/portfolio";
@import "./blocks/faq";
