.contacts-container {
  @include container;
}

.contacts__title {
  margin: 0 0 60px;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2f2f51;
}

.contacts-wrapper {
  margin-bottom: 40px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts-block {
  &__title {
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2f2f51;
  }

  &__phones {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  &__phones-link {
    white-space: nowrap;
    text-decoration: none;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
  }

  &__address {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__address-img {
    margin-right: 35px;
  }

  &__address-text {
    white-space: nowrap;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  &__mail {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }

  &__mail-img {
    margin-right: 33px;
  }

  &__mail-link {
    text-decoration: none;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
  }

  &__text {
    width: 215px;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2f2f51;
  }

  &__web-icon {
    margin-right: 13px;
  }

  @media screen and (max-width: 992px) {
    margin-bottom: 145px;
  }
}

.contacts-form {
  &__block {
    position: relative;
    width: 510px;
    padding: 55px;
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
  }

  &__workers-img {
    position: absolute;
    left: -312px;
    bottom: -40px;

    @media screen and (max-width: 992px) {
      top: -390px;
      left: 233px;
    }
  }

  &__title {
    margin: 0 0 30px;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #2f2f51;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding-left: 16px;
    height: 50px;
    border-radius: 3px;
    border-style: none;
    outline: none;
    background: #e2e2e2;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #424268;
  }

  &__input::placeholder {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #424268;
  }

  &__input--placeholder {
    height: 135px;
    margin-bottom: 12px;
    padding-top: 16px;
    resize: none;
  }

  &__input--placeholder::placeholder {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #424268;
  }

  &__checkbox {
    display: inline-block;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #e2e2e2;
  }

  &__checkbox:checked + label::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;
    background-image: url("/images/preview-block/Check.svg");
  }

  &__label {
    margin-bottom: 32px;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #2f2f51;
  }

  &__btn {
    display: block;
    margin: 0 auto;
    width: 258px;
    height: 53px;
    border: none;
    background: #2f2f51;
    border-radius: 3px;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
  }

  &__btn:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
  }
}
