.preview {
  margin-bottom: 68px;
  background-image: url(/images/preview-block/preview_bg.svg);
  background-size: cover;

  @media screen and (max-width: 992px) {
    margin-bottom: 47px;
  }
}

.preview-container {
  @include container;
  display: flex;
}

.preview-about {
  // margin-right: 52px;
  padding: 110px 0 0 90px;

  // @media screen and (max-width: 1200px) {
  //   padding: 110px 0 110px 72px;
  // }

  &__text {
    display: block;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $orange-color;
  }

  &__title {
    width: 450px;
    margin-bottom: 35px;
    font-family: "Roboto-Thin", sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
  }

  &__items {
    display: flex;
    // gap: 33px;
  }

  &__item {
    margin-right: 33px;
  }

  // &__description {
  //   max-width: 445px;
  //   margin: 0;
  //   @include font-size-36px-weight-100;
  //   color: #ffffff;
  // }

  &__item-description {
    width: 176px;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
  }

  &__item-icon {
    height: 81px;
  }

  @media screen and (max-width: 992px) {
    padding: 110px 0 130px 90px;
  }
}

.preview-measure {
  padding: 70px 0 60px 0;
  // box-sizing: border-box;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.preview-form {
  width: 406px;
  position: relative;
  box-sizing: border-box;
  padding: 43px 40px 60px;
  border-radius: 10px;
  background-color: #ffffff;

  &__title {
    margin: 0 0 27px 0;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
  }

  &__input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 16px;
    height: 40px;
    border-radius: 3px;
    border-style: none;
    outline: none;
    background: #e2e2e2;
  }

  &__input::placeholder {
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #424268;
  }

  &__label {
    display: flex;
    margin-bottom: 24px;
    font-family: "Roboto-Regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  &__checkbox {
    // margin-right: 10px;
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  &__checkbox + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 3px;
    // border: 1px solid #adb5bd;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background: #e2e2e2;
  }

  &__checkbox:checked + label::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;
    background-image: url("/images/preview-block/Check.svg");
  }

  &__btn {
    display: block;
    margin: 0 auto;
    padding: 20px 40px;
    // width: 199px;
    // height: 55px;
    border: none;
    border-radius: 3px;
    background-color: $orange-color;
    font-family: "Roboto-Bold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  &__ruler {
    position: absolute;
    left: -7px;
    bottom: -55px;
  }
}
